<% provide(:title, 'Contact') %> <h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>

<!--The following can be deleted when customizing the website. The purpose of the following code is to show the user
how edit this page as part of the tutorial.-->
<small>This page can be edited in the "contact.html.erb" file under app/views/static_pages .</small>
<!--Delete until here.-->