<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
  To get help on this sample app, see the
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>

<!--The following can be deleted when customizing the website. The purpose of the following code is to show the user
how edit this page as part of the tutorial.-->
<small>This page can be edited in the "help.html.erb" file under app/views/static_pages .</small>
<!--Delete until here.-->
