<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>

<!--The following can be deleted when customizing the website. The purpose of the following code is to show the user
how edit this page as part of the tutorial.-->
<small>This page can be edited in the "new.html.erb" file under app/views/users .</small>
